.banner {
	position: relative;
	z-index:1;
	overflow:hidden;
	padding-top:0px; 
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-top: 85px;
	@include at-breakpoint($desktop) {
		padding-top:250px;
		padding-bottom:10px;	
		.home & {
			padding-bottom:0px;	
		}
		margin-top: 0px;
	}
	.box-fifty {
		color:$white;
	}
	img {
		position:absolute;
		top:0;
		left:0;
		.home & {
			width:100%;
		}
	}
	.banner-bottom {
		@include at-breakpoint($desktop) {
			margin-top: 150px;
		}
		display:table;
		width:100%;
		color:$white;
		a {
			display:block;
			position: relative;
			z-index:1;
			padding:2.291666em 0em 1.5em;
			@include at-breakpoint($desktop) {
				padding:2.291666em 2.5em 1.5em;
			}
			cursor:pointer;	
			color:$white;
			text-decoration:none;
			@include at-breakpoint($desktop) {
				padding:2.5em 3.5em 1.5em;
				display:table-cell;
				width:50%;
			}
			.box-1 {		
				&:before {			
					z-index:-1;
					position:absolute;
					width:100%;
					height:100%;
					left:0;
					top:0;
					content:'';
					background: #f39c12;
					@include background(linear-gradient(164deg, #f39c12, #f39c12));
					@include opacity(0.9);
					@include transition(opacity 1s linear);
				}
				&:hover {
					color:#f39c12;
					&:before {
						background: $white;
						@include background(linear-gradient(164deg, $white, $white));
						@include opacity(0.9);
						@include transition(opacity 1s linear);
					}
					& p:after {
						background: url(images/box-arrow-hover.png) no-repeat;
					}
				}
				p {
					width:90%;
					float:left;
					&:after {
						position:absolute;
						content: '';
						width:32px;
						height:41px;
						background: url(images/box-arrow.png) no-repeat;
						right:5%;
						@include at-breakpoint($desktop) {
							right:12%;
						}
						top:42%;
					}
				}
			}
			.box-2 {
				@extend .box-1;
				&:before {			
					background: #f1c40f;
					@include background(linear-gradient(164deg, #f1c40f, #f1c40f));
				}
				&:hover {
					color:#f1c40f;
					& p:after {
						background: url(images/box-arrow-hover.png) no-repeat;
						background-position: -32px 0;
					}
				}
			}
		}	
	}
	
	&:before{
		z-index:-1;
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
		content:'';
		@include opacity(0.85);
		@include transition(opacity 1s linear);
	}
}

.bannertext {
	width:100%;
	overflow:hidden;
	position:relative;
	@include at-breakpoint($desktop) {
		margin-bottom:50px;
	}
	.bannertext-content {
		width:100%;
		@include at-breakpoint($desktop) {
			float:right;
			width:auto;
			margin-right:5%;
		}	
		padding: 20px 1.5em;
		background: $white;
		color:#555;
		position:relative;
		text-transform:uppercase;
		@include opacity(0.9);
		@include transition(opacity 1s linear);
		.banner-title-big {
			font-family: $latobold;
			@include adjust-font-size-to(30px);
			@include at-breakpoint($desktop) {
				@include adjust-font-size-to(40px);
			}
		}
		.banner-title-small {
			font-family: $latolight;
			@include adjust-font-size-to(16px);
			margin-top:0.8em;
			@include at-breakpoint($desktop) {
				margin-top:0;
				@include adjust-font-size-to(20px);
			}
		}
	}	
}