.banner {
	position: relative;
	min-height:350px;
	z-index:1;
	overflow:hidden;
	padding-top:200px;
	.box-fifty {
		color:$white;
	}
	.banner-bottom {
		margin-top: 150px;
		display:table;
		width:100%;
		color:$white;
		.box-1 {
			position: relative;
			z-index:1;
			padding:2.5em 2.5em 1.5em;
			cursor:pointer;
			@include at-breakpoint($desktop) {
				padding:2.5em 3.5em 1.5em;
				display:table-cell;
				width:50%;
			}		
			&:before {			
				z-index:-1;
				position:absolute;
				width:100%;
				height:100%;
				left:0;
				top:0;
				content:'';
				background: #f39c12;
				@include background(linear-gradient(164deg, #f39c12, #f39c12));
				@include opacity(0.9);
				@include transition(opacity 1s linear);
			}
			&:hover {
				color:#f39c12;
				&:before {
					background: $white;
					@include background(linear-gradient(164deg, $white, $white));
					@include opacity(0.9);
					@include transition(opacity 1s linear);
				}
			}
			p {
				width:90%;
				float:left;
				&:after {
					position:absolute;
					content: '';
					width:32px;
					height:41px;
					background: url(images/box-arrow.png) no-repeat;
					right:12%;
					top:45%;
				}
			}
		}
		.box-2 {
			@extend .box-1;
			&:before {			
				background: #f1c40f;
				@include background(linear-gradient(164deg, #f1c40f, #f1c40f));
			}
		}
	}
	
	&:before{
		z-index:-1;
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
		content:'';
		@include opacity(0.85);
		@include transition(opacity 1s linear);
	}
}

.bannertext {
	width:100%;
	overflow:hidden;
	position:relative;
	.bannertext-content {
		width:100%;
		@include at-breakpoint($desktop) {
			float:right;
			width:auto;
			margin-right:5%;
		}	
		padding: 20px 35px;
		background: $white;
		color:#555;
		position:relative;
		text-transform:uppercase;
		@include opacity(0.9);
		@include transition(opacity 1s linear);
		.banner-title-big {
			@include adjust-font-size-to(40px);
			font-family: $latobold;
		}
		.banner-title-small {
			@include adjust-font-size-to(20px);
			font-family: $latolight;
		}
	}	
}