.content {
	color:#092148;
	padding-top:60px;
	.home & {
		padding-top:100px;
	}
	padding-bottom:35px;
	.content-box {
		padding-top:25px;
		padding-bottom:50px;
		&  p:last-child {
			margin-bottom:0;
		}
	}
	.content-img {
		position:absolute;
		left:0;
		width:100%;
		padding-top: 10px;
		padding-bottom: 70px;
		overflow:hidden;
	}		
	& h1, h2, h3, h4, h5 {
		@include adjust-font-size-to(32px);
			font-size:1.15em;
			@include at-breakpoint($desktop) {	
				font-size:2em;
			}
		text-transform: uppercase;
		font-weight: normal;
		font-family: $nixie_oneregular;
		color: #2c65b5;
		padding:30px 0 30px;
		line-height:1.73em;
		@include text-shadow(0px 0px 1px rgba(71, 101, 181, 1));
		a {
			color: #2c65b5;
		}		
	}
	& h1:first-child {
		.home & {
			font-size:1.5em;
			@include at-breakpoint($desktop) {	
				font-size:2.75em;
			}
		}
		padding-top:0px;
		padding-bottom:0;
	}
	h6 {
		font-family: $latolight;
		@include adjust-font-size-to(16px);
		color:#2c65b5;
		padding:15px 0;
		@include at-breakpoint($desktop) {	
			@include adjust-font-size-to(18px);
		}
	}
	@include at-breakpoint($desktop) {	
		.columns-2 {
			&:nth-child(2n + 2) {
				margin-left:0;
			}
			&:nth-child(2n + 1) {
				margin-left:52.04082%;
				clear:none;
			}
		}
	}	
	a {
		color:#2c65b5;		
		&.button {
			text-decoration:none;
			text-transform:uppercase;
			@include sassy-button("flat", 5px, 14px,#fafafa);    
			color:#9b59b6;
			border:2px solid #9b59b6;
			line-height: 1.5em;
			padding-top: 10px;
			&:hover {
				background:#9b59b6;
				color:$white;
			}
		}
	}
	.our-people-title {
		padding-bottom:50px;
		h1{ 
			padding-top:0;
		}
	}	
	ul {
		padding-bottom: 0px;
		list-style: none;
		li {
			&:before {
				content: "\2022";
				color: #2c65b5;
				margin: 0 .5em 0 -1em;
			}
		}
		&.our-people {
			list-style:none;
			padding-bottom:0;
			margin-bottom:0;
			li {
				overflow:hidden;
				img {
					@include at-breakpoint($desktop) {
						position:absolute;
					}
					margin-bottom:30px;
					width:150px;
					height:150px;
					background: #999;
					float: left;
					@include border-radius(50%);
				}
				h3 {
					@include adjust-font-size-to(26px);
					margin:0;
					padding:0;
					color:#2c65b5;	
				}
				&:before {
					content: "";
					margin:0;
				}
				&:last-child {
					padding-bottom:0;
					margin-bottom:0;
					@include at-breakpoint($desktop) {
						article {
							margin-bottom:0;
						}
					}
				}
				
				p {
					font-size: 1em;
					&:first-child {
						margin-bottom:0;
					}
				}
			}
		}		
	}
}

#panel {
	position: absolute;
	bottom: 5px;
	left: 1%;
	z-index: 5;
	background: url(images/street-view-icon.jpg) no-repeat;
	padding: 5px;
	font-family: $latoregular;
	width:179px;
	height:96px;
	border: 1px solid $white;
	color:$white;
	text-decoration:none;
	text-indent:-9999px;
 }
 
.skilled-banner {
	width:100%;
	background: url('images/find-talent-bottom-banner.jpg') no-repeat;
	background-size:cover;
	min-height:200px;
} 
.overlay-content {
		width:70%;
		margin: 100px auto;
		z-index:1;
		position:relative;
		overflow:hidden;
		padding:30px;
		text-align:center;
		&:before {
			z-index:-1;
			position:absolute;
			width:100%;
			height:100%;
			left:0;
			top:0;
			content:'';
			background: $white;
			@include background(linear-gradient(164deg, $white, $white));
			@include opacity(0.9);
			@include transition(opacity 1s linear);
		}
		h6 {
			color:#555;
			@include adjust-font-size-to(30px);
		}
}