.mobile-title {
    @include adjust-font-size-to(42px);
}

.content {


    color: #092148;
    padding-bottom: 35px;
    @include at-breakpoint($desktop) {
        padding-top: 60px;
    }
    .author &, .blog &, .category &, .single & {
        padding-bottom: 35px;
        @include at-breakpoint($desktop) {
            padding-top: 50px;
        }
    }
    .home & {
        padding-top: 40px;
        @include at-breakpoint($desktop) {
            padding-top: 100px;
        }
    }
    .content-box {
        padding-bottom: 50px;
        padding-top: 25px;
        & p:last-child {
            margin-bottom: 0;
        }
    }
    .content-img {
        overflow: hidden;
        padding-bottom: 50px;
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    & h1, h2, h3, h4 {

        @include adjust-font-size-to(32px);
        @include text-shadow(0px 0px 1px rgba(71, 101, 181, 1));
        color: #2c65b5;
        font-family: $nixie_oneregular;
        font-size: 1.15em;
        font-weight: normal;
        line-height: 1.73em;
        padding: 10px 0 10px;
        text-transform: uppercase;
        @include at-breakpoint($desktop) {
            font-size: 2em;
            padding: 30px 0 30px;
        }
        a {
            color: #2c65b5;
            &:hover {
                border-bottom: 1px solid #6588c9;
                color: #6588c9;
            }
        }
    }
    & h1:first-child {
        padding-bottom: 45px;
        padding-top: 0px;
        .home & {
            font-size: 1.5em;
            @include at-breakpoint($desktop) {
                font-size: 2.75em;
            }
        }
    }
    h6 {
        @include adjust-font-size-to(16px);
        color: #2c65b5;
        font-family: $latolight;
        padding: 15px 0;
        @include at-breakpoint($desktop) {
            @include adjust-font-size-to(18px);
        }
    }
    h5 {

        color: #092148;
        font-family: $latoregular;
        padding: 10px 0 10px;
        text-transform: uppercase;
        @include at-breakpoint($desktop) {
            padding: 30px 0 30px;
        }
        &.title {
            @include adjust-font-size-to(18px);
            color: $black;
            font-family: $latoblack;
            margin-bottom: 5px;
            padding-top: 0px;
        }
    }
    @include at-breakpoint($desktop) {
        .columns-2 {
            &:nth-child(2n + 2) {
                margin-left: 0;
            }
            &:nth-child(2n + 1) {
                clear: none;
                margin-left: 52.04082%;
            }
        }
    }
    a {
        color: #2c65b5;
        &.button {
            @include sassy-button("flat", 5px, 14px, #fafafa);
            border: 2px solid #9b59b6;
            color: #9b59b6;
            line-height: 1.5em;
            margin-bottom: 4em;
            margin-top: 10px;
            padding-top: 10px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                background: #9b59b6;
                color: $white;
            }
        }
    }
    .our-people-title {
        padding-bottom: 50px;
        h1 {
            padding-top: 0;
        }
    }
    ul {
        list-style: none;
        padding-bottom: 0px;
        li {
            &:before {
                color: #2c65b5;
                content: "\2022";
                margin: 0 .5em 0 -1em;
            }
        }
        &.our-people {
            list-style: none;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-left: 0;
            li {
                margin-bottom: 30px;
                overflow: hidden;
                padding-bottom: 10px;
                &:last-child {
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
                img {
                    @include border-radius(50%);
                    background: #999;
                    float: left;
                    height: 150px;
                    margin-bottom: 30px;
                    width: 150px;
                    @include at-breakpoint($desktop) {
                        position: absolute;
                    }
                }
                h3 {
                    @include adjust-font-size-to(26px);
                    color: #2c65b5;
                    margin: 0;
                    padding: 0;
                }
                &:before {
                    content: "";
                    margin: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    @include at-breakpoint($desktop) {
                        article {
                            margin-bottom: 0;
                        }
                    }
                }
                p {
                    font-size: 1em;
                    &:first-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .blog-lists {
        list-style: none;
        padding-left: 0;
        li {
            overflow: hidden;
            padding-top: 50px;
            &:before {
                content: '';
                margin: 0;
            }
            h3 {
                padding-bottom: 10px;
                padding-top: 20px;
                @include at-breakpoint($desktop) {
                    padding-bottom: 5px;
                    padding-top: 0px;
                }
            }
            .blog-icon {

                background-color: #cecfd1;
                background-position: center center;
                background-repeat: no-repeat;
                border: 1px solid #cecfd1;
                height: 175px;
                width: 100%;
                @include at-breakpoint($desktop) {
                    float: left;
                    margin-top: 15px;
                    width: 25%;
                }
                img {
                    display: none;
                }
            }
            .blog-content {

                width: 100%;
                @include at-breakpoint($desktop) {
                    float: left;
                    margin-left: 7%;
                    width: 68%;
                }
                .meta {
                    color: #2d5cb3;
                    font-family: $latobold;
                    text-transform: none;
                    a {
                        border-bottom: 1px solid #2d5cb3;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover {
                            border-bottom: 1px solid #6588c9;
                            color: #6588c9;
                        }
                    }
                }
            }
        }
    }
}

.single {
    .content {
        p {
            @include adjust-font-size-to(22px);
            line-height: 1.5em;
            @include at-breakpoint($desktop) {
                @include adjust-font-size-to(22px);
                line-height: 2.2em;
            }
        }
        .meta {
            @include adjust-font-size-to(14px);
            color: #2d5cb3;
            font-family: $latobold;
            margin-bottom: 30px;
            text-transform: none;
            a {
                border-bottom: 1px solid #2d5cb3;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    border-bottom: 1px solid #6588c9;
                    color: #6588c9;
                }
            }
        }
    }
    & h1.title {
        @include adjust-font-size-to(30px);
        margin-bottom: 25px;
        margin: 0;
        padding: 0;
        @include at-breakpoint($desktop) {
            @include adjust-font-size-to(48px);
        }
    }
}

#panel {
    background: url(images/street-view-icon.jpg) no-repeat;
    border: 1px solid $white;
    bottom: 5px;
    color: $white;
    font-family: $latoregular;
    height: 96px;
    left: 1%;
    padding: 5px;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    width: 179px;
    z-index: 5;
}

.skilled-banner {
    background-image: url("images/find-talent-bottom-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -70px;
    min-height: 200px;
    width: 100%;
}

.overlay-content {

    margin: 120px auto;
    overflow: hidden;
    padding: 30px 20px;
    position: relative;
    text-align: center;
    width: 90%;
    z-index: 1;
    @include at-breakpoint($desktop) {
        padding: 30px;
        width: 70%;
    }
    &:before {
        @include background(linear-gradient(164deg, $white, $white));
        @include opacity(0.9);
        @include transition(opacity 1s linear);
        background: $white;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    h6 {
        @include adjust-font-size-to(30px);
        color: #555;
    }
    .textwidget {
        p {
            margin-bottom: 1em;
            @include at-breakpoint($desktop) {
                margin-bottom: 0em;
            }
        }
    }
}

.text-center {
    text-align: center;
}

.filters {
    margin-bottom: 20px;
    text-align: center;
    .single & {
        @media (max-width: 879px) {
            margin-top: 40px;
        }
    }
    a {
        @include adjust-font-size-to(21px);
        border-bottom: 1px solid #eff5ff;
        display: inline-block;
        font-family: $latolight;
        margin-right: 15px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            border-bottom: 1px solid;
        }
        &:last-child {
            margin-right: 0;
        }
        &.is-checked {
            color: #2d5cb3;
            font-family: $latobold;
        }
    }
}