body {
	font-family: $latolight;
	color: $body_background;
	background:#fafafa;
	color:#092148;
}

img {
    max-width: 100%;
    //width: 100%;
}

.wrapper {
	background-color: #FAFAFA;
	@include transition(0.3s all ease);
	overflow:hidden;
}
em,i {
	font-family: $latoitalic;
	line-height:2.5em;
}
i {
	color:#2c65b5;
}
strong {
	font-family: $latobold;
	text-transform: uppercase;
	display:block;
}