.course-accordion {
    //background: red;
    margin-top: 30px;
    h3 {

        @include adjust-font-size-to(22px);
        border-top: 2px solid #E5E5E5;
        padding-bottom: 0;
        padding-top: 0;
        @include at-breakpoint($desktop) {
            @include adjust-font-size-to(38px);
        }
        &:last-child {
            border-bottom: 2px solid #E5E5E5;
        }
        a {
            background-color: #FFF;
            display: block;
            opacity: 0.6;
            padding: 0.75em 0;
        }
    }
    .course-accodion-content {
        display: none;
        padding: 50px 20px;
        .accordion-item {
            margin-bottom: 15px;
            overflow: hidden;
            position: relative;
            .title {
                @include adjust-font-size-to(18px);
                float: left;
                font-family: $latobold;
                text-transform: uppercase;
                width: 100%;
                @include at-breakpoint($desktop) {
                    margin-right: 5%;
                    width: 35%;
                }
            }
            .detail {
                @include adjust-font-size-to(16px);
                float: left;
                width: 100%;
                b {
                    font-family: $latobold;
                    text-transform: uppercase;
                }
                & p, ul, ol {
                    @include adjust-font-size-to(18px);
                }
                @include at-breakpoint($desktop) {
                    width: 60%;
                }
            }
        }
    }
}

.single-course {
    .accordion-item {
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
        .title {
            @include adjust-font-size-to(18px);
            float: left;
            font-family: $latobold;
            text-transform: uppercase;
            width: 100%;
            @include at-breakpoint($desktop) {
                margin-right: 5%;
                width: 35%;
            }
        }
        .detail {
            @include adjust-font-size-to(18px);
            float: left;
            width: 100%;
            b {
                font-family: $latobold;
                text-transform: uppercase;
            }
            @include at-breakpoint($desktop) {
                width: 60%;
            }
        }
    }
}