/*! Pushy - v0.9.1 - 2013-9-16 */

#mobile-nav-button {

    position: absolute;
    right: 0px;
    @include at-breakpoint($desktop) {
        display: none;
        /* Hide For big screen*/
    }
    a {
        @include border-radius(50%);
        @include transition(width 1.1s ease-in-out);
        background: white;
        display: block;
        height: 46px;
        margin: 20px 0 0 0;
        overflow: hidden;
        text-indent: -9999px;
        width: 46px;
        z-index: 9999;
        &:before {
            background: url("images/menu.png") no-repeat center;
            content: '';
            float: left;
            height: 42px;
            padding: 2px 2px 2px 0;
            position: relative;
            top: -9px;
            width: 44px;
        }
    }
}

.main-menu-desktop {

    display: none;
    @include at-breakpoint($desktop) {
        display: block;
        text-align: right;
    }
    ul {
        list-style: none;
        margin: 10px 0 0;
        padding: 0;
        li {
            display: inline-block;
            padding: 0 15px;
            text-transform: uppercase;
            &:first-child {
                padding-left: 0;
                a {
                    color: $black;
                }
            }
            &:last-child {
                //padding-left: 0;
                a {
                    color: $black;
                }
            }
            a {
                color: $white;
                font-size: em(16);
                font-weight: bold;
                &:hover {
                    //color: $grey;
                    border-bottom: 1px solid;
                }
                &.cart-contents:hover {
                    border-bottom: none;
                }
            }
            &.current-menu-item {
                a {
                    //color: $grey;
                    border-bottom: 1px solid;
                }
            }
        }
    }
}

/* Site Overlay */

.site-overlay {
    bottom: 0;
    display: none;
    position: fixed;
    right: 15.625em;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*
Nav Panel
======================================
*/

.menu-panel {
    -webkit-overflow-scrolling: touch;
    background: #303030;
    height: 100%;
    overflow: auto;
    padding-top: 75px;
    position: fixed;
    right: -15.625em;
    top: 0;
    width: 15em;
    z-index: 9999;
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                @include adjust-font-size-to(15px);
                border-bottom: 1px solid #999;
                color: $white;
                display: block;
                padding: 10px 15px;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    background: #999;
                    color: $white;
                }
            }
        }
        &.sub-menu {
            li {
                a {
                    padding-left: 30px;
                }
            }
        }
    }
}

#nav-toggle {

    cursor: pointer;
    display: block;
    padding: 10px 35px 16px 0px;
    position: absolute;
    right: 30px;
    top: 25%;
    @include at-breakpoint($desktop) {
        display: none;
    }
    span {
        background: $white;
        content: '';
        cursor: pointer;
        display: block;
        height: 5px;
        position: absolute;
        width: 35px;
    }
}

#nav-toggle span:before, #nav-toggle span:after {
    background: $white;
    content: '';
    cursor: pointer;
    display: block;
    height: 5px;
    position: absolute;
    width: 35px;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    @include transition(all 500ms ease-in-out);
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    //background: $body_bg;
    top: 0;
}

#nav-toggle.active span:before {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}