.social-share {
    position: relative;
    ul {
        list-style: none;
        margin-bottom: 0;
        padding: 10px 5px 10px 0px;
        text-align: left;
        li {
            display: inline-block;
            margin-left: 5px;
            margin-top: 20px;
            &:before {
                content: "";
                margin: 0;
            }
            &:first-child {
                @include adjust-font-size-to(16px);
                font-family: $latobold;
                margin-left: 0px;
                text-transform: uppercase;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            a {
                background: url("images/social-share-icons.png") no-repeat;
                display: inline-block;
                height: 33px;
                text-indent: -9999px;
                width: 36px;
                &:hover {
                    @include opacity(0.7);
                }
                &#twitter {
                    background-position: 0px -33px;
                }
                &#mail {
                    background-position: 0px -66px;
                }
                &#pinterest {
                    background-position: 0px -99px;
                }
            }
        }
    }
}