@include establish-baseline;

@font-face {
    font-family: 'latoblack';
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-black-webfont.eot");
    src: url("sass/fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-black-webfont.woff") format("woff"), url("sass/fonts/lato-black-webfont.ttf") format("truetype"), url("sass/fonts/lato-black-webfont.svg#latoblack") format("svg");
}


$latoblack: "latoblack";

@font-face {
    font-family: 'latoblack_italic';
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-blackitalic-webfont.eot");
    src: url("sass/fonts/lato-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-blackitalic-webfont.woff") format("woff"), url("sass/fonts/lato-blackitalic-webfont.ttf") format("truetype"), url("sass/fonts/lato-blackitalic-webfont.svg#latoblack_italic") format("svg");
}


$latoblack_italic: "latoblack_italic";

@font-face {
    font-family: "latobold";
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-bold-webfont.eot");
    src: url("sass/fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-bold-webfont.woff") format("woff"), url("sass/fonts/lato-bold-webfont.ttf") format("truetype"), url("sass/fonts/lato-bold-webfont.svg#latobold") format("svg");
}


$latobold: "latobold";

@font-face {
    font-family: "latobold_italic";
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-bolditalic-webfont.eot");
    src: url("sass/fonts/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-bolditalic-webfont.woff") format("woff"), url("sass/fonts/lato-bolditalic-webfont.ttf") format("truetype"), url("sass/fonts/lato-bolditalic-webfont.svg#latobold_italic") format("svg");
}


$latobold_italic: "latobold_italic";

@font-face {
    font-family: "latohairline";
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-hairline-webfont.eot");
    src: url("sass/fonts/lato-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-hairline-webfont.woff") format("woff"), url("sass/fonts/lato-hairline-webfont.ttf") format("truetype"), url("sass/fonts/lato-hairline-webfont.svg#latohairline") format("svg");
}


$latohairline: "latohairline";

@font-face {
    font-family: "latohairline_italic";
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-hairlineitalic-webfont.eot");
    src: url("sass/fonts/lato-hairlineitalic-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-hairlineitalic-webfont.woff") format("woff"), url("sass/fonts/lato-hairlineitalic-webfont.ttf") format("truetype"), url("sass/fonts/lato-hairlineitalic-webfont.svg#latohairline_italic") format("svg");
}


$latohairline_italic: "latohairline_italic";

@font-face {
    font-family: "latoitalic";
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-italic-webfont.eot");
    src: url("sass/fonts/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-italic-webfont.woff") format("woff"), url("sass/fonts/lato-italic-webfont.ttf") format("truetype"), url("sass/fonts/lato-italic-webfont.svg#latoitalic") format("svg");
}


$latoitalic: "latoitalic";

@font-face {
    font-family: "latolight";
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-light-webfont.eot");
    src: url("sass/fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-light-webfont.woff") format("woff"), url("sass/fonts/lato-light-webfont.ttf") format("truetype"), url("sass/fonts/lato-light-webfont.svg#latolight") format("svg");
}


$latolight: "latolight";

@font-face {
    font-family: "latolight_italic";
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-lightitalic-webfont.eot");
    src: url("sass/fonts/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-lightitalic-webfont.woff") format("woff"), url("sass/fonts/lato-lightitalic-webfont.ttf") format("truetype"), url("sass/fonts/lato-lightitalic-webfont.svg#latolight_italic") format("svg");
}


$latolight_italic: "latolight_italic";

@font-face {
    font-family: "latoregular";
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/lato-regular-webfont.eot");
    src: url("sass/fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/lato-regular-webfont.woff") format("woff"), url("sass/fonts/lato-regular-webfont.ttf") format("truetype"), url("sass/fonts/lato-regular-webfont.svg#latoregular") format("svg");
}


$latoregular: "latoregular";

@font-face {
    font-family: "nixie_oneregular";
    font-style: normal;
    font-weight: normal;
    src: url("sass/fonts/opensans-nixieone-regular.eot");
    src: url("sass/fonts/opensans-nixieone-regular.eot?#iefix") format("embedded-opentype"), url("sass/fonts/nixieone-regular.woff") format("woff"), url("sass/fonts/nixieone-regular.ttf") format("truetype"), url("sass/fonts/nixieone-regular.svg#nixie_oneregular") format("svg");
}


$nixie_oneregular: "nixie_oneregular";

// Base
$base-font-size: 16px;
$base-line-height: 30px;
$round-to-nearest-half-line: true;

/*
@if true {
$grid-background-baseline-height: $base-line-height;
body {
	@include debug-vertical-alignment;
	}
}
*/
h1, h2, h3, h4, h5, h6 {


















    font-family: $latoregular;
    font-weight: normal;
    a {
        text-decoration: none;
        &:hover {}
    }
}
h1 {
    @include adjust-font-size-to(26px);
    margin: 0 auto rhythm(1, 26px);
    @include at-breakpoint($desktop) {
        @include adjust-font-size-to(63px);
        margin: 0 auto rhythm(1, 63px);
    }
}
h2 {
    @include adjust-font-size-to(24px);
    margin: 0 auto rhythm(0, 24px);
    @include at-breakpoint($desktop) {
        @include adjust-font-size-to(41px);
        margin: 0 auto rhythm(0, 41px);
    }
}
h3 {
    @include adjust-font-size-to(22px);
    margin: 0 auto rhythm(0, 22px);
    @include at-breakpoint($desktop) {
        @include adjust-font-size-to(38px);
        margin: 0 auto rhythm(0, 38px);
    }
}
h4 {
    @include adjust-font-size-to(20px);
    margin: 0 auto rhythm(0, 20px);
    @include at-breakpoint($desktop) {
        @include adjust-font-size-to(32px);
        margin: 0 auto rhythm(0, 32px);
    }
}
h5 {
    @include adjust-font-size-to(18px);
    margin: 0 auto rhythm(0, 18px);
    @include at-breakpoint($desktop) {
        @include adjust-font-size-to(26px);
        margin: 0 auto rhythm(0, 26px);
    }
}
h6 {
    @include adjust-font-size-to(16px);
    margin: 0 auto rhythm(0.5, 16px);
    @include at-breakpoint($desktop) {
        @include adjust-font-size-to(24px);
        margin: 0 auto rhythm(0.5, 24px);
    }
}
p, ul, ol {
    @include adjust-font-size-to(16px);
    margin: 0 auto rhythm(1, 20px);
    @include at-breakpoint($desktop) {
        @include adjust-font-size-to(18px);
        margin: 0 auto rhythm(1, 32px);
    }
}
strong {
    padding-bottom: 20px;
    @include at-breakpoint($desktop) {
        padding-bottom: 0px;
    }
}
ul li {
    margin: 0 auto rhythm(0.5, 24px);
}
.columns-1 ol {
    border-top: 1px solid #c5c9c9;
    counter-reset: ordered-list;
    margin: 50px 0 50px 0;
    padding-left: 0px;
    & li {
        border-bottom: 1px solid #c5c9c9;
        color: #323232;
        list-style: none;
        padding: 20px 20px 20px 75px;
        &:before {
            @include adjust-font-size-to(18px);
            color: #03a2ca;
            content: counter(ordered-list);
            counter-increment: ordered-list;
            display: block;
            float: left;
            margin-left: -83px;
            padding: 0 30px;
        }
    }
}
.front-headline {
    @include adjust-font-size-to(40px);
    color: $white;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    width: 80%;
    & a {
        color: $light-gray;
    }
}
.meta {
    //@include adjust-font-size-to(14px);
    font-size: 14px;
    text-transform: uppercase;
    & a {
        color: gray;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.small {
    @include adjust-font-size-to(14px);
}
footer {
    color: $white;
    font-family: $latolight;
    & h1, h2, h3, h4, h5, h6 {
        @include adjust-font-size-to(32px);
        font-family: $nixie_oneregular;
        font-weight: normal;
        line-height: 1.6em;
        margin: 0 auto rhythm(1, 40px);
    }
    & p {
        @include adjust-font-size-to(16px);
        line-height: 1.6em;
    }
    & ul, input[type="email"] {
        @include adjust-font-size-to(16px);
    }
    & ul {
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;
    }
    & a {
        color: $white;
        text-decoration: underline;
        &:hover {
            border-bottom: none;
            color: $light_gray;
            text-decoration: none;
        }
    }
}
hr {
    background: url(images/hr-img.png) repeat-x;
    border: none;
    height: 10px;
    padding: 30px 0;
}
.content .slider li:before {
    content: '';
    margin: 0;
}
.social-media {

    left: 165px;
    position: absolute;
    top: 60px;
    @include at-breakpoint($desktop) {
        left: 210px;
    }
    li {
        float: left;
        margin: 5px 5px;
        a {
            background: url("images/social-media.png") no-repeat;
            display: block;
            height: 23px;
            text-indent: -9999px;
            width: 23px;
            &#facebook {
                background-position: 0 0;
                &:hover {
                    background-position: -25px 0px;
                }
            }
            &#twitter {
                background-position: 0 -24px;
                height: 24px;
                width: 24px;
                &:hover {
                    background-position: -24px -24px;
                }
            }
        }
    }
}