$open_sanssemibold_italic: "open_sanssemibold_italic";

@font-face {
    font-family: 'open_sanssemibold_italic';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-semibolditalic.eot");
    src: url("../fonts/opensans-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibolditalic.woff") format("woff"), url("../fonts/opensans-semibolditalic.ttf") format("truetype"), url("../fonts/opensans-semibolditalic.svg#open_sanssemibold_italic") format("svg");
}

$open_sanslight_italic: "open_sanslight_italic";

@font-face {
    font-family: 'open_sanslight_italic';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-lightitalic.eot");
    src: url("../fonts/opensans-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-lightitalic.woff") format("woff"), url("../fonts/opensans-lightitalic.ttf") format("truetype"), url("../fonts/opensans-lightitalic.svg#open_sanslight_italic") format("svg");
}

$open_sansregular: "open_sansregular";

@font-face {
    font-family: 'open_sansregular';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-regular.eot");
    src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype"), url("../fonts/opensans-regular.svg#open_sansregular") format("svg");
}

$open_sanssemibold: "open_sanssemibold";

@font-face {
    font-family: 'open_sanssemibold';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-semibold.eot");
    src: url("../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.ttf") format("truetype"), url("../fonts/opensans-semibold.svg#open_sanssemibold") format("svg");
}

$open_sansextrabold_italic: "open_sansextrabold_italic";

@font-face {
    font-family: 'open_sansextrabold_italic';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-extrabolditalic.eot");
    src: url("../fonts/opensans-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-extrabolditalic.woff") format("woff"), url("../fonts/opensans-extrabolditalic.ttf") format("truetype"), url("../fonts/opensans-extrabolditalic.svg#open_sansextrabold_italic") format("svg");
}

$open_sansitalic: "open_sansitalic";

@font-face {
    font-family: 'open_sansitalic';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-italic.eot");
    src: url("../fonts/opensans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic.woff") format("woff"), url("../fonts/opensans-italic.ttf") format("truetype"), url("../fonts/opensans-italic.svg#open_sansitalic") format("svg");
}

$open_sanslight: "open_sanslight";

@font-face {
    font-family: 'open_sanslight';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-light.eot");
    src: url("../fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light.woff") format("woff"), url("../fonts/opensans-light.ttf") format("truetype"), url("../fonts/opensans-light.svg#open_sanslight") format("svg");
}

$open_sansbold: "open_sansbold";

@font-face {
    font-family: 'open_sansbold';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-bold.eot");
    src: url("../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold.woff") format("woff"), url("../fonts/opensans-bold.ttf") format("truetype"), url("../fonts/opensans-bold.svg#open_sansbold") format("svg");
}

$open_sansbold_italic: "open_sansbold_italic";

@font-face {
    font-family: 'open_sansbold_italic';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-bolditalic.eot");
    src: url("../fonts/opensans-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bolditalic.woff") format("woff"), url("../fonts/opensans-bolditalic.ttf") format("truetype"), url("../fonts/opensans-bolditalic.svg#open_sansbold_italic") format("svg");
}

$open_sansextrabold: "open_sansextrabold";

@font-face {
    font-family: 'open_sansextrabold';
    font-style: normal;
    font-weight: normal;
    src: url("../opensans-extrabold.eot");
    src: url("../opensans-extrabold.eot?#iefix") format("embedded-opentype"), url("../opensans-extrabold.woff") format("woff"), url("../opensans-extrabold.ttf") format("truetype"), url("../opensans-extrabold.svg#open_sansextrabold") format("svg");
}

$nixie_oneregular: "nixie_oneregular";

@font-face {
    font-family: 'nixie_oneregular';
    font-style: normal;
    font-weight: normal;
    src: url("nixieone-regular.eot");
    src: url("nixieone-regular.eot?#iefix") format("embedded-opentype"), url("nixieone-regular.woff") format("woff"), url("nixieone-regular.ttf") format("truetype"), url("nixieone-regular.svg#nixie_oneregular") format("svg");
}