fieldset {

    border: 0;
    padding: 0;
    ol {

        @include no-bullets;
        li {
            display: block;
            margin-bottom: 1em;
            margin-left: -40px;
        }
    }
}

footer {




    input {
        color: rgb(54, 116, 187);
    }
    input[type="text"], input[type="email"] {



        @include border-radius(5px);
        border: 1px solid rgb(202, 203, 193);
        color: rgb(54, 116, 187);
        line-height: 1.2em;
        padding: 0.66em;
        width: 100%;
        background: {
            position: 95% -55px;
        };
        &:focus {
            background-position: 95.5% 14px;
            border: 1px solid rgb(54, 116, 187);
            color: rgb(54, 116, 187);
            outline: none;
        }
        &.error {
            color: #333333;
        }
    }
    input[type="email"] {

        background-position: 95% (-142px + 17px);
        color: rgb(54, 116, 187);
        &:focus {
            background-position: 95.5% -195px;
        }
    }
    input[type="submit"] {


        @include sassy-button("flat", 5px, 14px, #9b59b6);
        font-family: $latoregular;
        &:hover {
            background: $white;
            color: #9b59b6;
        }
    }
    .confirmation {


        display: none;
        left: 0px;
        padding: 0px 0.9375em;
        position: absolute;
        text-align: center;
        width: 100%;
        &.error {
            //color: $input-error-text-color;
            margin-top: -0.8em;
        }
        &.valid {
            color: inherit;
        }
    }
}

input#first-name-input {
    background-color: #ffffff;
    color: rgb(54, 116, 187);
}

#respond {

    input[type="submit"] {


        @include sassy-button("flat", 5px, 14px, #9b59b6);
        font-family: $latoregular;
        &:hover {
            background: $white;
            color: #9b59b6;
        }
    }
    input[type="text"], textarea {






        @include border-radius(5px);
        border: 1px solid rgb(202, 203, 193);
        padding: 0.66em;
        width: 100%;
        @include at-breakpoint($desktop) {
            width: 60%;
        }
        background: {
            color: white;
            position: 95% -55px;
        };
        &:focus {
            background-position: 95.5% 14px;
            border: 1px solid rgb(54, 116, 187);
            color: rgb(54, 116, 187);
            outline: none;
        }
        &.error {
            color: #333333;
        }
    }
}

.gform_wrapper {


    font-family: $latoregular;
    .button {

        @include sassy-button("flat", 5px, 14px, #9b59b6);
        &:hover {
            background: $white;
            color: #9b59b6;
        }
    }
    select {

        font-size: 1em !important;
        padding: 0;
        option {
            padding: 5px;
        }
    }
}

.registration-container {
    margin-top: 0;
    padding-top: 0;
}

.registration-container {





    input[type='text'],
    textarea,
    select {
        background: $white;
        border-radius: 5px;
        border: 2px solid #d6d6d6;
        display: block;
        min-width: 50%;
        padding: 10px 15px;
    }
    select {
        height: 40px;
    }
    select[multiple="multiple"] {
        height: 150px;
    }
    input[type='text'] {
        padding: 10px 15px;
    }
    input[type="submit"] {

        background-color: $blue;
        border-radius: 5px;
        border: 3px solid $blue;
        color: $white;
        padding: 10px 15px;
        &:hover {
            background: $white;
            border: 3px solid $blue;
            color: $blue;
        }
    }
    #form-employment-history {
        td {
            padding: 0 20px 20px 0;
        }
    }
}

#form-employment-history {
    tr {
        margin-bottom: 20px;
    }
}

.course-hold {



    background-color: #ffdbdb;
    border-radius: 10px;
    color: red;
    margin-bottom: 15px;
    padding: 20px;
    p {
        margin-bottom: 5px;
    }
    ul, li, li:before {
        color: red !important;
    }
    ul, li {
        margin: 0;
    }
}

#availability-section {






    // border: 1px solid rgba(0, 0, 0, 0.7);
    // display: flex;
    // // flex-direction: column;
    // flex-wrap: wrap;
    // margin-bottom: 40px;
    display: block;
    @include at-breakpoint($desktop) {

        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    select {
        display: none;
    }
    > div {



        // display: inline-block;
        text-align: center;
        @include at-breakpoint($desktop) {
            display: block;
        }
        > div, > p {

            display: inline-block;
            width: 32%;
            @include at-breakpoint($desktop) {
                display: block;
                width: auto;
            }
        }
    }
    > div:first-child {





        font-family: 'latoblack';
        font-weight: bold;
        margin: 0;
        @include at-breakpoint($desktop) {
            width: 14%;
        }
        p {

            display: inline-block;
            width: 32%;
            @include at-breakpoint($desktop) {
                display: block;
                width: auto;
            }
        }
        p:first-child {
            margin: 0;
        }
        p:last-child, p:nth-child(2) {
            font-family: 'latoblack';
            font-size: 18px;
            font-weight: bold;
            height: 80px;
            line-height: 20px;
            margin: 0;
            padding-top: 20px;
        }
    }
    > div:not(:first-child) {









        @include at-breakpoint($desktop) {
            width: 12%;
        }
        div {
            @include at-breakpoint($desktop) {
                border-bottom: 2px solid #d6d6d6;
                height: 80px;
                padding-top: 25px;
            }
        }
        p, div {
            @include at-breakpoint($desktop) {
                border-right: 2px solid #d6d6d6;
            }
        }
        > p {
            @include at-breakpoint($desktop) {

                border-bottom: 2px solid #d6d6d6;
                border-top: 2px solid #d6d6d6;
                // display: inline-block;
                // width: 100px;
                margin: 0;
            }
        }
        > p:first-child {}

        > div {
            // display: inline-block;
            // width: 250px;
       
        }
    }
    > div:nth-child(2) {
        @include at-breakpoint($desktop) {
            border-left: 2px solid #d6d6d6;
        }
    }
    input[name="00N0a00000C0TTB"] {}
}
#date-check {
    border-radius: 5px;
    border: 2px solid #d6d6d6;
    margin-top: 10px;
    padding: 5px 10px;
}