.container {

    @include container($total-columns, $desktop);
    overflow: hidden;
}

header {



    @include transition(transform 500ms ease);
    background: rgba(44, 99, 176, 0.95);
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    .container {

        overflow: visible;
        @media (max-width: 879px) {
            max-width: 100%;
        }
    }
    &.active-header {
        &:before {


            @include opacity(0.98);
            @include transition(opacity 1s linear);
            background: #2c65b5;
            content: '';
            height: 70px;
            position: absolute;
            width: 100%;
            z-index: -1;
        }
    }
}

.logo {

    @include span-columns(6);
    @include at-breakpoint($desktop) {


        @include adjust-font-size-to(20px);
        @include span-columns(6.5);
        display: block;
        margin-right: 0;
        margin-top: 1.5em;
    }
}

.nav {

    display: none;
    @include at-breakpoint($desktop) {
        display: block;
    }
}

.second-nav {



    display: block;
    margin-top: 0.8em;
    padding-top: 4px;
    @include at-breakpoint($desktop) {
        //display: none;
    }
    a {

        color: $white;
        text-decoration: none;
        &:hover {
            @include text-shadow(1px 0px 1px black);
        }
    }
}

nav {

    @include span-columns(3 omega);
    @include at-breakpoint($desktop) {
        @include span-columns(10 omega);
    }
}

aside {

    @include span-columns(7);
    @include at-breakpoint($desktop) {

        @include span-columns(4);
        margin-bottom: 4em;
    }
}

article {

    @include span-columns(7);
    @include at-breakpoint($desktop) {


        @include span-columns(10 omega);
        @include suffix(0.9);
        margin-bottom: 4em;
    }
}

section {
    margin-top: 95px;
    padding-top: 80px;
}

footer {





    @include span-columns(7);
    @include at-breakpoint($desktop) {
        @include span-columns(15);
    }
    .footer-top {


        background: #38434e;
        overflow: hidden;
        padding-bottom: 90px;
        padding-top: 120px;
        .columns-2 {
            @include at-breakpoint($desktop) {
                padding-left: 70px;
            }
        }
        form {
            width: 80%;
        }
    }
    .footer-bottom {

        background: #1f5783;
        overflow: hidden;
        .columns-2 {

            position: relative;
            &:last-child {

                padding-left: 1.5em;
                padding-right: 50px;
                padding-top: 50px;
                @include at-breakpoint($desktop) {
                    padding-left: 70px;
                }
            }
        }
    }
    .footer-copyright {



        background: #eeeeee;
        color: #555555;
        font-family: $latoregular;
        overflow: hidden;
        padding: 10px 0;
        p {
            margin-bottom: 0px;
        }
        .text-right {

            text-align: left;
            @include at-breakpoint($desktop) {
                text-align: right;
            }
        }
        a {
            color: #2c65b5;
        }
    }
}

.columns-wide {


    @include span-columns(7);
    text-align: center;
    @include at-breakpoint($desktop) {

        @include pad(0.6, 0.6);
        @include span-columns(15);
    }
}

.columns-1 {


    @include span-columns(7);
    margin: 1.5em 0 1.5em 0;
    @include at-breakpoint($desktop) {


        @include pad(2.5, 2.5);
        @include span-columns(15);
        margin: 1.5em 0 2.5em 0;
    }
}

.columns-2 {

    @include isolate-grid(7);
    @include at-breakpoint($desktop) {
        @include isolate-grid(6.5);
    }
}

.columns-3 {


    @include isolate-grid(7);
    margin-top: 3em;
    @include at-breakpoint($desktop) {

        @include isolate-grid(5);
        &:nth-child(2) {
            @include pad(0, 1);
        }
    }
}

.box-fifty {

    position: relative;
    width: 100%;
    @include at-breakpoint($desktop) {
        float: left;
        width: 50%;
    }
}

.full-width {

    overflow: hidden;
    position: relative;
    .author &, .blog &, .category &, .single & {

        background: #eff5ff;
        &.content {
            padding-top: 40px;
        }
    }
}

.show-for-mobile {

    display: block;
    @include at-breakpoint($desktop) {
        display: none;
    }
}

.show-for-desktop {

    display: none;
    @include at-breakpoint($desktop) {
        display: block;
    }
}

.center-content {

    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    @include at-breakpoint($desktop) {
        width: 70%;
    }
}