#box {


    @include transition(width 1.1s ease-in-out);
    display: none;
    height: 46px;
    margin: 13px 0 0 0;
    padding-top: 3px;
    width: 55%;
    @include at-breakpoint($desktop) {
        display: block;
        text-align: right;
    }
}

nav {
    ul {


        list-style-type: none;
        margin-top: 3px;
        padding-left: 0;
        white-space: nowrap;
        & li {

            display: inline;
            margin-left: 20px;
            padding-bottom: 45px;
            position: relative;
            &.current-menu-item {

                & ul li a {
                    text-decoration: none;
                }
                a {
                    text-decoration: underline;
                }
            }
        }
        ul {

            background: #2C65B5;
            display: none;
            left: 0;
            padding-left: 0;
            position: absolute;
            top: 62px;
            width: 250px;
            z-index: 9999;
            li {



                float: left;
                margin: 0;
                padding: 0;
                position: relative;
                text-align: left;
                width: 100%;
                a {

                    @include text-shadow(none);
                    border-bottom: 1px solid;
                    color: white;
                    display: block;
                    font-size: 13px;
                    padding: 10px;
                }
                &:first-child {
                    &:before {
                        border-bottom: 15px solid #2C65B5;
                        border-left: 15px solid rgba(0, 0, 0, 0);
                        border-right: 15px solid rgba(0, 0, 0, 0);
                        content: "";
                        left: 20px;
                        position: absolute;
                        top: -15px;
                    }
                }
                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

nav ul li a {




    @include adjust-font-size-to(14px);
    @include text-shadow(1px 0px 1px black);
    color: $white;
    font-family: $latoregular;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        color: $white;
        text-decoration: underline;
    }
    &:after {
        content: '';
        margin-left: 10px;
    }
}

nav ul li:nth-child(2) {

    a:hover {
        text-decoration: none;
    }
    & ul li a:hover {
        text-decoration: underline;
    }
}

.active-header {

    nav ul li a {
        @include text-shadow(none);
    }
    nav ul ul {
        top: 60px;
    }
}

ul li:hover ul.sub-menu {
    display: block;
}

.logo-wrapper {
    margin: 0 auto;
    max-width: 1100px;
    position: absolute;
    top: 0;
}

#logo-tab {

    // background-color: #2C65B5;
    background-color: $white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 0;
    img {
        height: auto;
        max-width: 120px;
        padding: 20px 10px 10px;
    }
}

#mobile-logo {
    height: 50px;
    width: auto;
}